body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(63, 61, 61);
  }
  
  .stopwatch {
    height: 37vw;
    width: 38%;
    margin-top: 6%;
    margin-left: 28%;
    align-items: center;
    background: #000d008c;
    border: solid #aa73eb 2.5vh;
    border-radius: 52%;
}
  #display{
    margin-top: 28%;
    color: #cbbfe4e0;
    font-size: 8vw;
  }
  button {
    height: 5vw;
    width: 34%;
    color: #4f9fd2;
    background: #6044ba;
    border: solid #383737 0.5vh;
    margin: 5px;
    margin-top: -3vh;
    padding: 10px 20px;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 6vh;
    font-weight: bold;
    letter-spacing: .1vh;
}


  
  